{% extends 'base.html.twig' %}

{% block title %}Espace membre
{% endblock %}

{% block body %}

	<a href="/">home</a>

	<h1>Espace membre</h1>

	<div class="clearfix">
		<div class="formConnexion">
			<h4>Déjà inscrit</h4>

			{{ form_start(formConnexion) }}

			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{{ form_row(formConnexion.pseudo)}}
			<button id="lunettesC" class="unmask" type="button" title="unmask"><img src="/images/buttons/lunettes-mini.png"></button>
			{{ form_row(formConnexion.password)}}

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<div class="padding10">
				<button class="btn btn-lg btn-primary" type="submit">
					Se connecter
				</button>
			</div>
			{{ form_end(formConnexion) }}
			<a class="btn btn-default" href="passwordForget">Mot de pass oublié</a>

		</div>
		<div class=" formInscription">
			<a class="btn btn-light" href="{{ path('register') }}" role="button">Créer un compte</a>

		</div>
	</div>
	<p>
		<a class="btn btn-default" href="#" role="button">lire les conditions générales d'utilisation</a>
	</p>
	{% include 'compulsory.html.twig' %}

{% endblock %}
