{% extends 'base.html.twig' %}

{% block title %}Espace membre
{% endblock %}

{% block body %}
	<h1>Espace membre</h1>

	<h2>Formulaire de connexion</h2>


	{{ form_start(formConnexion) }}

	{% if error %}
		<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

	{{ form_row(formConnexion.pseudo)}}
	{{ form_row(formConnexion.password)}}


	{#
					Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
					See https://symfony.com/doc/current/security/remember_me.html
				
					<div class="checkbox mb-3">
						<label>
							<input type="checkbox" name="_remember_me"> Remember me
						</label>
					</div>
					#}


	<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
	<div class="padding10">
		<button class="btn btn-lg btn-primary" type="submit">
			Se connecter
		</button>
	</div>
	{{ form_end(formConnexion) }}

	<div class="spacer50"></div>
	<h2>Formulaire d'inscription</h2>

	{{ form_start(formInscription) }}

	{{ form_row(formInscription.pseudo)}}
	{{ form_row(formInscription.password)}}

	<div class="padding10">
		<button class="btn btn-lg btn-primary" type="submit">
			S'inscrire
		</button>
	</div>
	{{ form_end(formInscription) }}

{% endblock %}
