{% extends "base.html.twig" %}

{% block title %}
	Ajouter article!
{% endblock %}

{% block body %}
	<p>
		<a href="{{path('home')}}">home</a>/<a href="{{path('index_membre')}}">Espace membre</a>
	</p>
	<h1>Ajouter un article</h1>

	{{ form_start(formArticleAdd) }}
	{{ form_row(formArticleAdd.heading)}}
	{{ form_row(formArticleAdd.brand)}}
	{{ form_row(formArticleAdd.model)}}
	{{ form_row(formArticleAdd.serial)}}
	{{ form_row(formArticleAdd.year)}}
	{{ form_row(formArticleAdd.location)}}
	{{ form_row(formArticleAdd.color)}}
	{{ form_row(formArticleAdd.description)}}

	<button class="btn btn-lg btn-primary" type="submit">
		Enregistrer
	</button>
	{{ form_end(formArticleAdd) }}


{% endblock %}
