{% extends "base.html.twig" %}

{% block title %}
	Mon article
{% endblock %}

{% block body %}

	<p>
		<a href="{{path('home')}}">home</a>/<a href="{{path('index_membre')}}">Espace membre</a>/<a href="{{path('articleAdd')}}">Ajouter un article</a>
	</p>

	<div class="clearfix">

		<h1>Mon article</h1>
		<a class="btn btn-primary" href="{{path('articleModify',{id:article.id})}}">Modifier</a>
		<div class="line"></div>
		<h2>Généralités</h2>
		<div>Marque :
			{{article.brand}}</div>
		<div>Model :
			{{article.model}}</div>
		<div>Numéro de série :
			{{article.serial}}</div>
		<div>Année de fabrication :
			{{article.year}}</div>
		<div>Localisation :
			{{article.location}}</div>
		<div>Couleur :
			{{article.color}}</div>
		<div>
			<p class="text-justify">Description :{{ article.description }}
			</p>
		</div>
		<div class="line"></div>
		<h2>Images de l'article</h2>
		<h3>Images principale</h3>
		<img width="130" src="/{{article.imageMain}}"/>
		<h3>Images supplémentaires</h3>
		<div class="clearfix">
			{% for image in images%}
				<div class="left">
					<a href="{{path('imageDelete',{idArticle:article.id,idImage:image.id})}}" class="delImage"><img src="../images/buttons/close.png" alt="Supprimer cette image" title="Supprimer cette image"/></a>
					<img width="200" src="/{{image.path}}"/>
				</div>
			{% endfor %}
		</div>

		<h3>Télécharger des images</h3>

		{{ form_start(formArticleDlImg) }}
		{{form_row(formArticleDlImg.path)}}
		<button class="btn btn-lg btn-primary" type="submit">
			Enregistrer
		</button>
		{{ form_end(formArticleDlImg) }}
		<div class="line"></div>
		<h2>Options</h2>

	</div>
{% endblock %}
