{% extends "base.html.twig" %}

{% block title %}
	Planning
{% endblock %}

{% block body %}

	<p>
		<a href="{{path('home')}}">home</a>/<a href="{{path('index_membre')}}">Espace membre</a>/<a href="{{path('articleAdd')}}">Ajouter un article</a>
	</p>

	<div class="clearfix">
		<h1>Planning</h1>

		{% set day = dataDate.firstDayOfMonth %}

		{% set nextMonth = dataDate.nextMonth %}
		{% set prevMonth = dataDate.prevMonth %}
		{% set yearUp = dataDate.year %}
		{% set yearDown = dataDate.year %}

		{% if dataDate.month == 1 %}
			{% set prevMonth = 12 %}
			{% set yearDown = dataDate.year - 1 %}
		{% endif %}

		{% if dataDate.month == 12 %}
			{% set nextMonth = 1 %}
			{% set yearUp = dataDate.year + 1 %}
		{% endif %}

		{% set jours = ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi', 'Dimanche'] %}
		{% set mois = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'] %}

		{% set class = 'planningMask' %}

		<div class="text-center">
			<a href="{{path('articlePlanning', { id:articleId, month:prevMonth, year:yearDown })}}">
				&#8630; mois précédent</a>
			-
			<span class="h4">
				{{mois[dataDate.month -1]}}
				{{dataDate.year}}
			</span>
			-
			<a href="{{path('articlePlanning', { id:articleId, month:nextMonth, year:yearUp })}}">mois suivant &#8631;</a>
		</div>


		<table>
			<thead>
				<tr>
					{% for i in 0..6 %}
						<th>{{ jours[i] }}</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for j in 1..dataDate.nbWeek %}
					<tr>
						{% for i in 0..6 %}
							{% if( day >= 1) and ( day <= dataDate.nbDaysInMonth ) %}

								{% if day  == "now"|date("d") and dataDate.month  == "now"|date("m") and dataDate.year  == "now"|date("Y") %}
									{% set class = 'planningToday' %}
								{% else %}
									{% set class = 'planningShow' %}
								{% endif %}

							{% else %}
								{% set class = 'planningMask' %}
							{% endif %}

							{% if i == 5 or i == 6 %}
								{% set class = 'planningWeekend' %}
							{% endif %}

							<td class="{{ class }}">
								{% if( class == 'planningShow' or class == 'planningToday' or class == 'planningWeekend' ) %}
									{{ day }}
								{% endif %}
								{% set day = day + 1 %}
							</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</tbody>
	</table>

</div>{% endblock %}
