{% extends "base.html.twig" %}

{% block title %}
	Voir mes article
{% endblock %}

{% block body %}
	<p>
		<a href="/">home</a>
	</p>
	<h1>Voir mes articles</h1>
	<div class="clearfix">
		{% for article in articles %}

			<div class="postCard">
				<div class="right">
					<a href="delete/article/{{article.id}}"><img src="../images/buttons/close.png" alt="Supprimer cet article" title="Supprimer cet article"/></a>
				</div>
				<h3>{{article.brand}}
					{{article.model}}</h3>
				<div class="left">
					<div>Numéro de série :
						{{article.serial}}</div>
					<div>Année de fabrication :
						{{article.year}}</div>
					<div>Localisation :
						{{article.location}}</div>
					<div>Couleur :
						{{article.color}}</div>
					<div>Model variant :</div>
					<div>Options :</div>
					<div>Date entretien :</div>
					<div>Travaux effectués :</div>
					<div>Description :</div>
					<div>Photos :</div>
				</div>
				<div class="right">Gérer les options
				</div>
			</div>


		{% endfor %}
	</div>
{% endblock %}
