{% extends "base.html.twig" %}

{% block title %}
	Voir mes article
{% endblock %}

{% block body %}
	<p>
		<a href="{{path('home')}}">home</a>/<a href="{{path('index_membre')}}">Espace membre</a>/<a href="{{path('articleAdd')}}">Ajouter un article</a>
	</p>
	<h1>Voir mes articles</h1>
	<div class="clearfix">

		{% if articles is empty %}
			<p>Vous n'avez pas encore créé d'articles.
				<a href="{{path('articleAdd')}}">Cliquez ici pour créer votre premier article</a>
			</p>
		{% endif %}

		{% for article in articles %}


			<div class="postCard">
				<div class="clearfix">
					<div class="right">
						<a href="{{path('articleDelete',{id:article.id})}}"><img src="../images/buttons/close.png" alt="Supprimer cet article" title="Supprimer cet article"/></a>
					</div>
					<h3>{{article.brand}}
						{{article.model}}</h3>
					<div class="left">
						<div>Numéro de série :
							{{article.serial}}</div>
						<div>Année de fabrication :
							{{article.year}}</div>
						<div>Localisation :
							{{article.location}}</div>
						<div>Couleur :
							{{article.color}}</div>
						<p class="text-justify">
							<div>Description :
								{{ article.description|slice(0, 40) }}
								(...)</p>
						</p>
					</div>
				</div>
				<div class="right">
					<img width="130" src="/{{article.imageMain}}"/>
				</div>

			</div>
			<div>
				<div class="spacer50"></div>
				<a class="btn btn-primary" href="{{path('articleDetail',{id:article.id})}}">Voir le détail</a>
				<a class="btn btn-primary" href="{{path('articleModify',{id:article.id})}}">Modifier</a>
				<a class="btn btn-primary" href="{{path('articlePlanning',{id:article.id})}}">Voir le planning</a>
				<a class="btn btn-primary" href="{{path('addOperation',{id:article.id})}}">Nouvelle opération</a>
			</div>
		</div>


	{% endfor %}
</div>{% endblock %}
