{% extends "base.html.twig" %}

{% block title %}
	Page membre!
{% endblock %}

{% block body %}

	<h1>Espace membre</h1>
	<div class="spacer50"></div>
	<h2>Formulaire de connexion</h2>
	{{ form_start(formConnexion) }}
	<div class="input">{{ form_row(formConnexion.email) }}</div>
	<div class="input">{{ form_row(formConnexion.password) }}</div>
	<button class="btn btn-primary" type="submit">Connexion</button>

	{{ form_end(formConnexion) }}


	<div class="spacer50"></div>
	<h2>Formulaire d'inscription</h2>

	{{ form_start(formInscription) }}
	<div class="input">{{ form_row(formInscription.email) }}</div>
	<div class="input">{{ form_row(formInscription.password) }}</div>
	<div class="input">{{ form_row(formInscription.nom) }}</div>
	<div class="input">{{ form_row(formInscription.prenom) }}</div>
	<button class="btn btn-primary" type="submit">Inscription</button>

	{{ form_end(formInscription) }}

{% endblock %}
