{% extends "base.html.twig" %}

{% block title %}
	Mon avatar!
{% endblock %}

{% block body %}
	<p>
		<a href="{{path('home')}}">home</a>/<a href="{{path('index_membre')}}">Espace membre</a>/<a href="{{path('profilModify')}}">Modifier mon profil</a>/<a href="profilEdit">Editer mon profil</a>
	</p>
	<h1>Modifier mon avatar</h1>
	<div class="clearfix">

		{% for i in 1..12 %}
			<div class="left padding10" onclick="changeAvatar('{{ i }}')"><img src="../images/avatars/avatar{{ i }}.png"></div>
		{% endfor %}


		{{ form_start(formAvatar) }}
		{{ form_row(formAvatar.avatar)}}

		<button id="avatar_button" class="btn btn-lg btn-primary hidden" type="submit">
			Changer
		</button>
		{{ form_end(formAvatar) }}


	</div>
{% endblock %}
