<nav>
    <ul>
        <div class="left">
            <li><a href="{{path('home')}}">Accueil</a></li>
            <li><a href="{{path('index_membre')}}">Espace membre</a></li>
        </div>
        <div class="right">
            <li><a href="{{path('index_materiel')}}">Matériel</a></li>
            <li><a href="{{path('index_levage')}}">Levage</a></li>
            <li><a href="{{path('index_batiment')}}">Bâtiment</a></li>
            <li><a href="{{path('index_tp')}}">travaux publics</a></li>
            <li><a href="{{path('index_vehicule')}}">Véhicule</a></li>
            <li><a href="{{path('index_personnel')}}">Personnel</a></li>
        </div>
    </ul>
</nav>